/*
COLOR PALETTE

BLACK: #000000

WHITE: #FFFFFF
LIGHT: #FDF7F4

ORANGE: #FFD18C
DARK ORANGE: #FFA724
*/
:root {
    --text-color: #000000;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

/* Header styling */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 39px 0;
}

.logo__link {
    line-height: 0;
}

.logo__image {
    width: 373px;
}

/* Nav styling */
.nav {
    background-color: #FFD18C;
}

.nav__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.563rem;
    margin: auto;
    padding: 13px 0;
}

.nav__item:hover {
    transform: translateY(-3px);
}

.nav__link {
    text-decoration: none;
    color: var(--text-color);
}

.nav__link:active {
    text-shadow: #FFA724 0 0 7px;
}

.nav__link:hover {
    color: #5E5E5E;
}

.nav__link--active {
    font-weight: bold;
}

/* Utility classes */
.container {
    width: 730px;
}