:root {
    --text-color: #000000;
    --main-bg-color: #FDF7F4;
    --extra-light-orange: #ffe8c5;
    --light-orange: #FFD18C;
    --dark-orange: #FFA724;
    --white: #FFF;
    --dark-gray: #5E5E5E;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    background-color: var(--main-bg-color);
}

.account:hover, .transact-button-group__button:hover {
    cursor: pointer;
}

/* Header styling */
.logo {
    display: flex;
    place-content: center;
    padding: 39px 0;
    background-color: var(--white);
}

.logo__link {
    line-height: 0;
}

.logo__image {
    width: 373px;
}

/* Nav styling */
.nav {
    background-color: var(--light-orange);
}

.nav__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.563rem;
    margin: auto;
    padding: 13px 0;
}

.nav__item:hover {
    transform: translateY(-3px);
}

.nav__link {
    text-decoration: none;
    color: var(--text-color);
}

.nav__link:active {
    text-shadow: var(--dark-orange) 0 0 7px;
}

.nav__link:hover {
    color: var(--dark-gray);
    border-bottom: 2px solid var(--dark-gray);
}

.nav__link--active {
    font-weight: bold;
}

/* Buttons styling */
.transact-button-group {
    display: flex;
    justify-content: center;
    gap: 15.73px;
    margin-top: 33px;
    margin-bottom: 42px;
}

.transact-button-group__button {
    background-color: var(--white);
    border: 5px solid var(--dark-orange);
    border-radius: 50px;
    min-width: 275px;
    min-height: 77px;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: normal;
    transition: 0.5s;
}

.transact-button-group__button:hover {
    background-color: var(--extra-light-orange);
}

.transact-button-group__button:active {
    background-color: var(--dark-orange);
    border: 5px solid var(--light-orange);
}

/* Main styling */
h1 {
    display: none;
}

main {
    margin-bottom: 89px;
}

.accounts {
    margin: auto;
}

.accounts__heading, .spendings__heading {
    font-size: 2.5rem;
    margin: 0;
}

.account {
    border: 5px solid var(--dark-orange);
    border-radius: 15px;
    font-size: 1.6rem;
    font-weight: bold;
    transition: 0.5s;
}

.account--selected {
    background-color: var(--light-orange);
}

.account__link {
    display: flex;
    text-decoration: none;
    padding: 43px 31px;

    color: var(--text-color);
    justify-content: space-between;
    align-items: center;
}

.account__link:active {
    background-color: var(--dark-orange);
    transition: 0.5s;
}

.account:hover {
    background-color: var(--extra-light-orange);
}

.account__heading, .account__amount {
    margin: 0;
}

/* Spendings */
.spendings-container {
    gap: 19px;
    width: 0;
    height: auto;
}

.spendings-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-orange);
    border-radius: 15px;
    padding: 0 20px;
    font-weight: bold;
}

/* Container classes */
.nav-container {
    width: 730px;
}

.sections-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 38px;
    margin: 0 10px;
}

.accounts-container {
    gap: 11px;
}

.main-content-container {
    width: 529px;
    margin: 0;
}

.accounts-container, .spendings-container {
    margin-top: 19px;
    display: flex;
    flex-direction: column;
}

/* Utility Classes */
.center-text {
    text-align: center;
}

.expand {
    animation: expand 3s forwards;
}

@keyframes expand {
    0% {
        opacity: 0.25;
        width: 0;
        height: auto;
    }

    75% {
        width: 105%;
    }

    100% {
        opacity: 1;
        width: 100%;
        height: auto;
    }
}

@media (max-width: 743px) {
    .logo__image {
        width: 275px;
    }

    .nav__list {
        font-size: 1rem;
    }

    .nav-container {
        width: 420px;
    }

    .transact-button-group {
        display: flex;
        justify-content: center;
        gap: 15.73px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .transact-button-group__button {
        font-size: 1rem;
        min-width: 175px;
        min-height: 49px;
    }

    .sections-container {
        padding: 20px;
    }

    .account__heading, .account__amount{
        font-size: 1.1rem;
    }

    .accounts__heading, .spendings__heading {
        font-size: 1.6rem;
    }

    .account__link {
        padding: 21px 15px;
    }

    .spendings-category__heading, .spendings-category__amount {
        font-size: 0.9rem;
    }
}

@media (max-width: 442px) {
    .logo {
        padding: 30px 0;
    }
    
    .logo__image {
        width: 250px;
    }

    .nav__list {
        font-size: 0.8rem;
    }

    .nav-container {
        width: 350px;
    }

    .transact-button-group {
        display: flex;
        justify-content: center;
        margin-top: 25px;
        margin-bottom: 15px;
    }

    .transact-button-group__button {
        font-size: 0.9rem;
        min-width: 140px;
        min-height: 39.2px;
    }

    .account__heading, .account__amount{
        font-size: 1rem;
    }

    .accounts__heading, .spendings__heading {
        font-size: 1.5rem;
    }

    .account__link {
        padding: 21px 15px;
    }

    .spendings-category__heading, .spendings-category__amount {
        font-size: 0.8rem;
    }
}

@media (max-width: 370px) {
    .logo {
        padding: 25px 0;
    }

    .logo__image {
        width: 175px;
    }

    .nav__list {
        font-size: 0.7rem;
    }
    
    .nav-container {
        width: 275px;
    }
    
    .transact-button-group {
        margin-top: 20px;
        margin-bottom: 12px;
    }

    .transact-button-group__button {
        font-size: 0.85rem;
        min-width: 120px;
        min-height: 33.6px;
    }

    .account__heading, .account__amount{
        font-size: 0.8rem;
    }

    .accounts__heading, .spendings__heading {
        font-size: 1.3rem;
    }

    .account__link {
        padding: 17px 13px;
    }

    .spendings-category__heading, .spendings-category__amount {
        font-size: 0.7rem;
    }
}